@import 'src/scss/_vars';

.todo-card-colums{
  padding-left: 8.5px;
  padding-right: 8.5px;
  position: relative;
  margin-bottom: 17px;
  outline: none !important;
  .div-inside-todo-card
  {
    word-wrap: break-word;
    border-radius: 3px;
    min-height: 200px;
    background-color: $primary-color;
    padding-left: 20px;
    padding-top: 20px;
    font-size: large;
    font-weight: bold;
  }

  .element-container-inside-to-do-card{
  padding-left: 0px;
  text-align: left;
  height: 200;
  padding-top:0px;
  margin-top: 7px;

  .label-task-name{
    font-weight: bold;
    font-size:18px;
  }

  label{
    font-size: medium;
    font-weight: 500;
  }

}

  .add-new-task-card { 
     @extend .div-inside-todo-card;
     background-color: $add-new-task-color;
     cursor: pointer; 
  }
} 



 



  

 
  


 






