
//General colors
$font-color:#222222;
$background-color:#222222;
$primary-color: #3779E2;
$white-color: #FFF;
$cancel-button-color:cornflowerblue;
 

//Add new task card
$add-new-task-color:#91B5EF;






